extends layouts/layout.pug

block content
  .h-100.d-flex.flex-column.overflow-auto
    .col-6.mt-4.mx-auto.text-center
      h3 Free URL Shortener
      h6.text-secondary Create short & memorable links in seconds.
      a.btn.btn-lg.w-100.btn-primary(href="/url/0" role="button" style={'max-width': '400px'}) Add URL

    if urls.length > 0
      .mt-4
      each url in urls
        include partials/url_card
    else
      .d-flex.align-items-center.justify-content-center.flex-grow-1 No saved URLs found.