.modal.fade(id="global-modal" tabindex="-1" aria-labelledby="global-modalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        .modal-title.fs-5(id="global-modal-title") Global modal title
        button.btn-close(data-bs-dismiss="modal" aria-label="Close")
      .modal-body(id="global-modal-body") Global modal body
      .modal-footer
        .btn.btn-secondary(data-bs-dismiss="modal") Cancel
        .btn.btn-primary(id="global-modal-ok-btn") OK