.card.mx-auto.m-3.shadow(style={'max-width': '540px'})
  .row 
    .col-md-4 
      img.img-fluid.rounded-start(src='https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=11e949fc5d06576bc8b80ec192896753' alt='URL preview')
    .col-md-8 
      .card-body 
        h5.card-title Card title 
        p.card-text Main card text 
        p.card-text 
          small.text-body-secondary Last updated 3 mins ago
